body{
    font-size: 0.9rem;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.sidebar{
    padding: 48px 0 0;
    background-image: -webkit-gradient(linear,right top, left top,from(rgba(51,148,225,.18)),to(transparent));
    background-image: linear-gradient(270deg,rgba(51,148,225,.18),transparent);
    background-color: #584475;
}
main{
    padding-top: 48px;
}

.hljs-comment{
    color: #5c9e42;
}
#catalog a {
    padding: .75rem 1.25rem;
    display: block;
    transition-property: all;
    transition-duration: 0.7s;
    cursor: pointer;
    color: #bdafd1;
    position: relative;
}
#catalog a>i{
    position: absolute;
    right: 15px;
    top: 15px;
}

#catalog li.list-group-item {
    border: none;
}

#catalog li>a.active {
    color: #fff;
    background-color: rgba(255,255,255,.04);
    -webkit-box-shadow: inset 3px 0 0 #886ab5;
    box-shadow: inset 3px 0 0 #886ab5;
    font-weight: 400;
}

#catalog a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,.1);
}
#catalog > .list-group-item ul {
    display: none;
}

#catalog > .list-group-item ul.active {
    display: block;
}

#catalog li.list-group-item {
    padding: 0;
    background-color: transparent;
}

#catalog li.list-group-item ul {
    padding-left: 0;
}

#catalog li.list-group-item ul a {
    padding-left: 3em;
}