<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !.(js|gif|jpg|png|css|eot|svg|ttf|woff|woff2|map)$ index.php [L]
#    RewriteRule ^ index.php [L]

#     RewriteCond %{REQUEST_FILENAME} !-d
##     RewriteCond %{REQUEST_URI} (.+)$
#     RewriteCond %{REQUEST_FILENAME} .*\.(jpeg|jpg|gif|png|map)$
#     RewriteRule (libs) 404.php?rr=%1&REQUEST_FILENAME=%{REQUEST_FILENAME}&REQUEST_URI=%{REQUEST_URI}&SCRIPT_FILENAME=%{SCRIPT_FILENAME} [QSA]
</IfModule>
